body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Login form styling */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.login-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Dashboard styling */
.dashboard {
    text-align: center;
}

.dashboard h2 {
    margin-bottom: 10px;
}

.dashboard .bg-input {
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dashboard button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Help section */
.help {
    text-align: center;
    margin-top: 20px;
}

.help button {
    padding: 5px 10px;
    background-color: #ffc107;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.help-content {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Tooltip styles */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* Style for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
}

/* Style for table header */
th {
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style for table rows */
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Alternate row background color */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover effect on rows */
tr:hover {
    background-color: #f2f2f2;
}


#helpContent ul {
    list-style-type: none; 
    margin-left: 0; 
    padding-left: 20px; 
}